.wrap {
    display: flex;
    border-bottom: #333 2px solid;
    padding: 16px 0px 0px 0px;
    align-items: center;
    width: 100%;
    position: relative;
    max-width: 800px;
    flex-direction: column;
    border-radius: 0 !important;
}
.wrap:focus .input {
    border: 2px solid red;
}
.input {
    display: flex;
    min-width: inherit !important;
    border: none !important;
    border-top: transparent 1px solid;
    margin: 0px !important;
    background-color: inherit !important;
    font-size: 20px;
    font-weight:200;
    width: 100%;
    padding: 16px 0px 4px 8px;
    padding-right: 64px !important;
    color: white;
    border-radius: 0;
}
.input:focus {
    outline: 0px solid transparent;
}
.input:focus ~ .counter{
    opacity: 1;
}
.counter {
    position: absolute;
    float: right;
    right: 16px;
    bottom: 8px;
    opacity: 0;
    font-size: 16px;
    user-select: none;
    pointer-events: none;
}
.input:focus + .name{
    left: 8px;
    bottom: 28px;
    font-size: 16px;
}
.input:valid + .name{
    left: 8px;
    bottom: 28px;
    font-size: 16px;
}
.name {
    font-size: 20px;
    color: gray !important;
    position: absolute;
    bottom: 8px;
    left: 8px;
    user-select: none;
    pointer-events: none;
}
.nameStatic {
    font-size: 16px;
    color: gray !important;
    position: absolute;
    bottom: 30px;
    left: 8px;
    user-select: none;
    pointer-events: none;
}