.wrap {
    width: calc(27px*5);
    height: calc(40px*5);
    border-radius: 8px;
    outline: transparent !important; 
    cursor: pointer;
    background-color: #222;
    border: none;
    overflow: hidden;
    position: relative;
}
.poster {
    border: none;
}
.wrap:hover {
    outline: 1px solid #999 !important;
}
.wrap:checked .poster {
    scale: 1.1;
    border: 5px solid #222 !important;
}