.element {
    background-color: transparent;
    border-radius: 8px;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
}
.element img {
    border-radius: 8px;
}
.info {
    display: flex;
    align-items: center;
    justify-content: center;
}