.container {
    background-color: var(--midnight);
    min-width: 100vw;
    min-height: 150vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}
.main {
    background-color: var(--midnight );
    max-width: 900px;
    padding: 1rem;
    width: 100%;
    padding-top: 72px;
    display: flex;
    flex-direction: column;
}
.header h1 {
    font-size: 52px;
    height: 100%;
    width: 100%;
}
.header {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    width: 100%;
}
.feature {
    min-width: 100%;
    min-height: 250px;
    border-radius: 8px;
    background-color: #0e0f17;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    position: relative;
    overflow: hidden;
    animation: 2s zoom-up ease-in-out;
}
.feature::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    box-shadow: inset 0px 0px 25px rgba(0, 0, 0, .3);
}
.header .feature img {
    object-fit: cover; 
}
.fields {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    min-width:      400px;
    max-width:      400px;
    align-items: flex-end;
}
.article {
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-template-rows: 1fr;
        gap: 1rem;
}
@media only screen and (max-width: 700px) {
    .article {
        flex-wrap: wrap;
        justify-content: center;
    }
    .side {
        display: flex;
        text-align: center;
        max-width: 100%;
        width: 100%;
        text-align: end;
    }
}
.side {
    display: flex;
    width: 100%;
    min-height: 100%;
    flex-direction: column;
    align-items: flex-end;
    min-width: 150px;
    max-width: 300px;
    flex-wrap: wrap;
}
.lines {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1rem;
}
.lines p {
    font-size: 1.125rem;
    line-height: 1.55;
}

@keyframes zoom-up {
    0% {
        scale: 1.1;
    }
    100% {
        scale: 1;
    }
}