.container {
    background-color: var(--midnight);
    min-width: 100vw;
    min-height: 150vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}
.main {
    background-color: var(--midnight );
    max-width: 1000px;
    padding: 1rem;
    width: 100%;
    padding-top: 72px;
    display: flex;
    flex-direction: column;
}
.description {
    font-size: 24px;
    line-height: 1.7em;
}
.credit {
    display: flex;
    flex-direction: column;
}
.credit img {
    border-radius: 50%;
    background: #10111a;
    box-shadow:  3px 3px 5px #06070a,
                 -3px -3px 5px #1a1b2a;
}
.credit p {
    color: #ddd;
    font-size: 18px;
}
.credit span {
    color: lightgray;
    font-weight: 800;
    margin-top: 1rem;
}

    
.main h1 {
    font-size: 3rem;
    margin-block: .5rem;
    font-weight: 600;
}
.header {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    width: 100%;
}
.feature {
    min-width: 100%;
    min-height: 360px;
    border-radius: 8px;
    background: #10111a;
    box-shadow:  15px 15px 8px #0f1018,
                 -15px -15px 8px #11121c;
    position: relative;
    overflow: hidden;
}
.feature::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    box-shadow: inset 0px 0px 25px rgba(0, 0, 0, .3);
}
.header .feature img {
    object-fit: cover; 
}
.fields {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    min-width:      300px;
    max-width:      500px;
    align-items: center;
}
.article {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.grid {
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-template-rows: 1fr;
        gap: 2rem;
        width: 100%;
}
.side {
    display: flex;
    width: 100%;
    min-height: 100%;
    flex-direction: column;
    align-items: flex-start;
    min-width: 150px;
    max-width: 400px;
    flex-wrap: wrap;
    font-size: 16px;
}

@media only screen and (max-width: 800px) {
    .grid {
        display: flex;
        flex-direction: column-reverse;
        gap: 1rem;
        width: 100%;
    }
    .credit {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 8px;
    }
    .credit span {
        display: none;
    }
    .side {
        display: flex;
        text-align: center;
        max-width: 100%;
        width: 100%;
        text-align: center;
        align-items: flex-start;
        flex-wrap: wrap;
    }
    .main h1 {
        font-size: 2rem;
        margin-block: .5rem;
        font-weight: 600;
    }
    .description {
        font-size: 1.25rem;
        margin-block: .5rem;
    }
}
.lines {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1rem;
}
.lines p, .lines textarea{
    font-size: 1.125rem;
    line-height: 1.7;
    background-color: transparent;
    color: white;
    font-weight: 400;
}
.lines textarea {
    display: flex;
    resize: none;
    width: 100%;
}
.side a {
    color: rgb(109, 153, 236);
    font-weight: 400;
}


.publishChanges {
    background-color: var(--midnight-background) !important;
    margin-left: auto;
}
.buttonTab {
    display: flex;
    gap: 4px;
    background-color: var(--midnight);
    z-index: 8;
    align-items: center;
}
.buttonTab button {
    background-color: var(--midnight-background);
    padding: 1rem 2rem;
    border-radius: 0;
    font-size: 16px;
}