.pageContainer {
    width: 100vw;
    height: 100vh;
    
    /* Grid */
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 5fr 3fr 1fr;
    /* Movement */
    transition: unset;
}
.pageContainer div {
    background-color: #222;
    border: 1px solid #fff;
}
.pageContainer div:nth-child(2) {
    display: grid;
    align-items: center;
    justify-content: center;
}