.nav {
    display: flex;
    gap: .5rem;
    justify-content: left;
    align-items: center;
    margin: 0rem;
    position: relative;
    width: 100%;
    z-index: 2000;
    height: 60px;
    padding: .5rem .5rem;
    background: rgba(255, 255, 255, .2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}
.navContainer {
    display: flex;
    gap: 1rem;
    justify-content: left;
    align-items: center;
    padding: 1rem;
    margin: 0rem;
    position: fixed;
    width: 100%;
    top: 16px;
    z-index: 2000;
    height: 60px;
}
.main {
    margin-top: 76px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
    /* height: 100% !important; */
    overflow-x: hidden;
    overflow-y: scroll;
    position: fixed;
}
@media screen and (max-width: 700px) {
    .navContainer {
        top: unset;
        bottom: 16px;
    }
    .main {
        padding-top: 0;
        margin-top: 0px;
        padding-bottom: 76px;
    }
    .nav {
        background: rgb(2,0,36);
        background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,52,30,1) 100%);
    }

}
@media screen and (max-height: 600px) {
    .navContainer {
        top: unset;
        bottom: unset;
        left: 32px;
        flex-direction: column;
        height: 100vh !important;
        width: 60px;
    }
    .nav {
        flex-direction: column;
        width: auto;
        height: 100%;
        justify-content: space-around;
        align-items:center;
    }
    .main {
        padding-left: 98px;
        padding-top: 0;
        padding-bottom: 0;
    }
    .nav * {
        height: 60px !important;
        border-radius: 16px !important;
        padding: 8px !important;
        width: 100% !important;
    }
    .nav div {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
    }

}
.nav > :last-child {
    float: left;
    margin-left: auto;
}
.nav a {
    color: var(--flame);
    font-weight: 900;
    font-size: 16px;
    text-decoration: none;
    position: relative;
    transition:.5s all ease-in-out;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5rem .75rem;

    background: rgba(255, 255, 255, 0);
    border-radius: 16px;
}




	 

    .element {
        background: rgba(255, 255, 255, .2);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.25);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        border: 1px solid rgba(255, 255, 255, 0.3);
    }
    .nav a:first-child:hover:after {
        width: 0%;
		background: transparent;
    }



