.article {
    width: fit-content;
    flex-direction: row;
    display: flex;
    align-items: center;
    gap: 16px;
}
.thumbnail {
    min-width: 110px;
    height: 60px;
    padding: 1rem;
    border: 1px solid #222;
    border-radius: 8px;
    text-decoration: none;
    position: relative;
    overflow: hidden;
}
.thumbnail img {
    object-fit: cover;
    scale: 1;
}
.article:hover .thumbnail img {
    scale: 1.125;
    transition-duration: .25s;
}
.article:hover {
    border-color: #7e7e7e;
}
.article p {
    color: white;
    font-size: 16px;
    margin: 0;
}
.article .title {
    font-size: 20px;
}
.article .info {
    display: flex;
    flex-direction: row;
    gap: 16px;
    justify-content: center;
}
.article * {
    margin: 0;
    color: gray;
    text-decoration: none;
}
.info {
    
}

@media screen and (max-width: 700px) {
    .public {
        display: flex;
        flex-wrap: none;
        flex-direction: column;
    }
}


.public {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 8px;
    padding: 8px 0px 8px 0px !important;
    border: none;
    border-radius: 0 !important;
    /* border-bottom: 1px solid #999; */
    padding: 1rem;
}
.grid {
    display: flex;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    gap: 1rem;
    padding: 1rem;
}
.grid div {
    overflow: hidden;
    background: rgba(255, 255, 255, 0);
    border-radius: 8px;
    /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
    position: relative;

}
.head {
        flex-direction: column !important;
        width: 100%;
        border-radius: 0px !important;
}
.header {
    height: 250px !important;
    max-height: 250px !important;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 8px;
    padding: 1rem;
    background: rgba(255, 255, 255, .5);
    overflow: hidden;
}
.header * {
    z-index: 2;
    position: relative;
}
.previewItem {
    width: 150px;
    height: 150px;
    position: relative;
    box-shadow: none !important;
}
.previewItem div {
    height: 100%;
    width: 100%;
    z-index: 4;
}
.previewItem .blurred {
    scale: 1;
    top: 0;
    left: 0;
    opacity: .5;
    scale: 2;
    filter: blur(20px);
    position: absolute;
    z-index: 2;
    overflow: hidden;
    border-radius: 50%;
}
.header .background {
    top: 0;
    left: 0;
    z-index: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    overflow: hidden;
    opacity: 0.5;
    filter: blur(10px);
    scale: 2;
}
.header .info {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    gap: 1rem;
    background: transparent;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    text-align: center;
    box-shadow: none;
    color: white;
}
.header .info p {
    margin: 0;
    font-size: 18px;
}
.header .info .details {
    gap: 2px;
    padding: 1rem;
    background-color: transparent;
    box-shadow: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 50%;
    text-align: left;
}
.main {
    display: flex;
    width: 100%;
    grid-area: main;
    justify-content: flex-start;
    align-items: flex-start;
    overflow: scroll;
    flex-direction: column;
    gap: 1rem;
}
.grid h3 {
    font-size: 18px;
    margin: 0;
    font-weight: 400;
}
.grid h1 {
    font-size: 36px;
    margin: 0;
}

@media screen and (max-width: 700px) {
    .public {
        display: flex;
        flex-wrap: none;
        flex-direction: column;
    }   
    .previewItem {
        display: none;
    }
    .header .info {
        backdrop-filter: none !important;
    }
    .header .info .details {
        width: 100%;
    }
    .header .info .details h1 {
        font-size: 32px;
    }
    .header .background {
        filter: none;
        opacity: .25;
        scale: 1;
    }
}

.table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    border-radius: 8px;
  }
  
  .table td, .table th {
    border-bottom: 1px solid rgb(25, 25, 25);
    padding: 16px 8px;
  }
  .table th {
    border: 1px solid transparent;
  }
  .table th:first-of-type {
    border-top-left-radius: 10px;
  }
  .table th:last-of-type {
    border-top-right-radius: 10px;
  }
  .table tr:last-of-type .table td:first-of-type {
    border-bottom-left-radius: 10px;
  }
  .table tr:last-of-type .table td:last-of-type {
    border-bottom-right-radius: 10px;
  }
  
  .batchRow:hover  {background-color: #222;}
  .batchRow {
    cursor: pointer;
  }
  
  .table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    color: white;
  }
  .tabWrap {
    display: flex;
    flex-direction: row;
    gap: 8px;
  }
  .tabWrap button {
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    border-radius: 0;
    padding-bottom: 8px;
    border-bottom: 2px solid transparent;
  }


.batchList {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
}
.batchList .article {
    box-shadow: 0px 0px 8px rgba(0, 0, 0, .5);
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    border: none;
}
.batchList .article .thumbnail {
    width: 100%;
    height: 100%;
    scale: 1.05;
    opacity: .5;
    filter: blur(1px);
}
.batchList .article:hover > .thumbnail {
    opacity: 1;
}

.batchList .article .thumbnail img:not([src]){ display:none; }
.batchList .article .info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
}
.batchList .article .info p {
    font-size: 24px;
    text-align: center;
}