.list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    gap: .5rem;
    max-width: 1500px;
    width: 100%;
    justify-content: center;
}
.row {
    display: flex;
    gap: .5rem;
}
.download {
    max-width: 300px;
    height: 300px;
    width: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--gray-3);
    background-color: var(--gray2);
    border-inline: 1px solid var(--gray-3);
    gap: .25rem;
    text-decoration: none;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}
.download * {
    margin: 0;
    text-decoration: none;
    color: rgb(143, 143, 143);
    text-overflow: ellipsis;
}
.downloadLink {
    
    color: rgb(0, 100, 255);
    text-decoration: none;
    border-radius: 5px;
    border: 1px solid rgb(0, 100, 255);
    width: fit-content;
    padding: .25rem .5rem;
}
.image {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
}
.image img {
    object-fit: cover;
}
.download_detail {
    overflow: hidden;
    display: flex;
    gap: .25rem;
    flex-direction: column;
    height: auto;
    opacity: 0;
    width: 100%;
    bottom: -100px;
    left: 0px;
    padding: 1rem;
    background-color: rgba(0,0,0,.75);
    backdrop-filter: blur(25px);
    position: absolute;
    font-size: 14px;
    color: white !important;
}
.links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: .25rem;
}
.download:hover .download_detail {
    opacity: 1;
    bottom: 0px;
}
.display {
    position: fixed !important;
    height: 100vh;
    width: 100vw;
    left: 0;
    top: 0;
    z-index: 1000;
    background-color: rgba(0,0,0,.5);
    backdrop-filter: blur(50px);
    align-items: center !important;
    justify-content: center;
    display: flex;
    transition-duration: .25s;
}
.display_element {
    width: 80%;
    height: 80%;
    display: flex;
    object-fit: contain;
    animation: forwards display_element .25s ease-in-out;
}
.display_unknown_element{
    display: flex !important;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 1rem;
    scale: 2;
    align-items: center !important;
    justify-content: center !important;
    animation: forwards display_element .25s ease-in-out;
}
.display_unknown_element h2 {
    width: fit-content;
    display: flex;
    border: 2px solid white;
    border-radius: 10px;
    padding: 1rem;
    animation: forwards display_element .25s ease-in-out;
}
.display_controls {
    position: fixed !important;
    height: 10vh;
    width: 100vw;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    pointer-events: all;
    z-index: 1001;
}
.display_controls h3 {
    white-space: nowrap; 
    width: 300px;
    overflow: hidden;
    text-overflow: ellipsis; 
}
.display_controls > button {
    pointer-events: all;
    background: none;
    font-weight: 600;
    border: none;
    outline: none;
    scale: 2;
    padding-inline: 2rem;
}
@keyframes display_element {
    0% {
        translate: -25vw 0;
        opacity: 0;
        scale: 0;
        rotate: 20deg;
        filter: blur(100px);
    }
    80% {
    }
}
