:root {

  overflow-x: hidden;
  background: rgb(0, 0, 0);
  background: linear-gradient(0deg, rgb(1, 0, 23) 0%, rgb(0, 13, 8) 100%);

  --gray-1: #111;
  --gray-2: #222;
  --gray-3: #333;
  --gray-4: #444;
  --gray-5: #555;
  --gray-6: #666;
  --gray-7: #777;
  --gray-8: #888;
  --gray-9: #999;

  /* THEME COLORS */
  --eerie-black: #22201c;
  --jet: #322e29;
  --black-olive: #423e37;
  --xanthous: #e3b23c;
  --gold-metallic: #e1c066;
  --eggshell: #edebd7ff;
  --bright-pink-crayola: #f45866;
  --magenta-haze: #ac3976;
  --tekhelet: #631a86;
  --folly: #ff1053;

  color: white;
  padding: 0rem;
  margin: 0px;

  scroll-behavior: smooth;

  
}
body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  
}
html, body { 
  scroll-behavior: smooth;
  background: rgb(0, 0, 0);
  background: linear-gradient(0deg, rgb(1, 0, 23) 0%, rgb(0, 13, 8) 100%);
}
* {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  transition-property: all;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-duration: .125s;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

@media (prefers-reduced-motion) {
  /* styles to apply if a user's device settings are set to reduced motion */
  * {
    transition-duration: 0ms !important;
  }
}

:root, body {
  padding: 0;
  margin: 0;
  width: 100%;
  min-height: 100vh;
  font-family: Poppins,Roboto,Open Sans,ui-sans-serif,system-ui,sans-serif;
}

button {
  padding: 1rem !important;
  padding-block: .5rem !important;
  margin-block: .5rem !important;
  background-color: var(--gray-2);
  border-radius: 10px;
  color: white;
  text-decoration: none;
  font-weight: 700;
  outline: 1px solid white;
  width: fit-content;
}
input[type="text"] {
  background-color: var(--gray-2);
  border-radius: 6px;
  color: white;
  text-decoration: none;
  border: 1px solid white;
  width: 100%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
input[type="text"]:focus {
  outline: none;
}
textarea {
  padding: 1rem !important;
  padding-block: .5rem !important;
  margin-block: .5rem !important;
  background-color: var(--gray-2);
  border-radius: 6px;
  color: white;
  text-decoration: none;
  font-weight: 500;
  border: 1px solid white;
  width: 500px;
  height: 150px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  transition: none;
}
textarea:focus {
  outline: none;
}

h2 {
  font-size: 2rem;
  margin-block: .5rem;
  font-weight: 600;
}
h1 {
  font-size: 3rem;
  margin-block: .5rem;
  font-weight: 600;
}
p {
  font-size: 1.25rem;
}

.avatar {
  border-radius: 50%;
}

progress {
	background-color: #222;
  outline: transparent 1px solid;
  border: transparent 1px solid;
	border-radius: 20px;
	position: relative;
	margin: 24px 0;
	height: 16px;
	width: 300px;
}
progress::-webkit-progress-bar {
  background-color: green;
}
progress::-webkit-progress-value {
  background-color: red;
}

.progress-done {
	background: linear-gradient(to left, #F2709C, #FF9472);
	box-shadow: 0 3px 3px -5px #F2709C, 0 2px 5px #F2709C;
	border-radius: 20px;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 0;
	opacity: 0;
	transition: 1s ease 0.3s;
}

input[type="range"]::after {
  display: none;
}
input[type="range"]::before {
  display: none;
}
input[type="range"]::-moz-range-thumb {
  opacity: 1;
  width: 0px;
  height: 100%;
  border-radius: 0;
  border: none;
  background-color: rgb(149, 120, 245);
  transition: all 0.3s ease;
}
input[type="range"]::-moz-range-progress {
  background-color: rgb(77, 34, 215);
  height: 100%;
}
input[type="range"]:focus {
  outline: 2px solid white;
}


input[type="range"] {
  -webkit-appearance: none; 
  box-shadow: none !important;  
  background-color: #222; 
  border-radius: 4px;
  overflow: hidden;
}
:-webkit-autofill { 
  color: #fff !important;
  }