:root {

  
  background: var(--background);
  background-size: cover;
  width: 100vw;

  --gray-1: #111;
  --gray-2: #222;
  --gray-3: #333;
  --gray-4: #444;
  --gray-5: #555;
  --gray-6: #666;
  --gray-7: #777;
  --gray-8: #888;
  --gray-9: #999;

  --background: #0b0b0f;

  /* THEME COLORS */
  --eerie-black: #0a0a0f;
  --jet: #111013;
  --midnight: #10111a;
  --midnight-background: #0c0d14;
  --black-olive: #423e37;
  --xanthous: #e3b23c;
  --gold-metallic: #e1c066;
  --eggshell: #edebd7ff;
  --bright-pink-crayola: #f45866;
  --magenta-haze: #ac3976;
  --tekhelet: #631a86;
  --folly: #ff1053;
  
  --ak-primary: #df37e3;
  --ak-secondary: #1f143e;
  --ak-tertiary: #effd95;

  --scrollBarColor: var(--midnight);
  

  color: white;
  padding: 0rem;
  margin: 0px;
  /* overflow: hidden; */

  scroll-behavior: smooth;

  
}

body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  overflow-x: hidden;
}
html, body { 
  scroll-behavior: smooth;
  overflow-x: hidden;
  
}
.bold {
  font-weight: 900;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: transparent;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: transparent;
  opacity: 0;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(0,0,0);
  background: var(--scrollBarColor);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--ak-secondary); 
}
::-webkit-scrollbar:hover {
  background: var(--ak-secondary); 
}





* {
  transition: all 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
  box-sizing: border-box;
  text-decoration: none;
}

@media (prefers-reduced-motion) {
  /* styles to apply if a user's device settings are set to reduced motion */
  * {
    transition-duration: 0ms !important;
  }
}

:root, body {
  padding: 0;
  margin: 0;
  width: 100%;
  font-family: Poppins,Roboto,Open Sans,ui-sans-serif,system-ui,sans-serif;
}

button {
  border-radius: 10px;
  color: white;
  text-decoration: none;
  font-weight: 700;
  outline: none;
  width: fit-content;
  border: none;
  cursor: pointer;
  background-color: transparent;
}
button:disabled {
  opacity: 0.25;
  cursor: unset;
}
button:disabled:hover {
  border-color: transparent !important;
}
input[type="text"] {
  background-color: var(--gray-2);
  border-radius: 6px;
  color: white;
  text-decoration: none;
  border: 1px solid white;
  width: 100%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


h2 {
  font-size: 2rem;
  margin-block: .5rem;
  font-weight: 600;
}
h1 {
  font-size: 3rem;
  margin-block: .5rem;
  font-weight: 600;
}
p {
  font-size: 1.25rem;
  margin-block: 8px;
}

.avatar {
  border-radius: 50%;
}

progress {
	background-color: #222;
  outline: transparent 1px solid;
  border: transparent 1px solid;
	border-radius: 20px;
	position: relative;
	margin: 24px 0;
	height: 16px;
	width: 300px;
}
progress::-webkit-progress-bar {
  background-color: green;
}
progress::-webkit-progress-value {
  background-color: red;
}

.progress-done {
	background: linear-gradient(to left, #F2709C, #FF9472);
	box-shadow: 0 3px 3px -5px #F2709C, 0 2px 5px #F2709C;
	border-radius: 20px;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 0;
	opacity: 0;
	transition: 1s ease 0.3s;
}

input[type="range"]::after {
  display: none;
}
input[type="range"]::before {
  display: none;
}
input[type="range"]::-moz-range-thumb {
  opacity: 1;
  width: 0px;
  height: 100%;
  border-radius: 0;
  border: none;
  background-color: rgb(149, 120, 245);
  transition: all 0.3s ease;
}
input[type="range"]::-moz-range-progress {
  background-color: rgb(77, 34, 215);
  height: 100%;
}
input[type="range"]:focus {
  outline: 2px solid white;
}


input[type="range"] {
  -webkit-appearance: none; 
  box-shadow: none !important;  
  background-color: #222; 
  border-radius: 4px;
  overflow: hidden;
}
:-webkit-autofill { 
  color: #fff !important;
  }

hr {
  background: rgba(255, 255, 255, .3) !important;
  height: 1px !important;
  width: 100%;

}
p {
  text-decoration: none;
}

.button {
  padding: 8px 16px;
  background-color: var(--ak-secondary);
  margin: 0;
}